:root {
  --brand-pink: 237 95 135;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit
}

.handwritten {
    font-family: 'Caveat', cursive, system-ui;
}

.subtitle {
    font-family: 'Nunito Sans', system-ui, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}
